* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: rgba(86, 169, 184, 0.856);
    font-family: Arial, sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background-color: rgba(22, 18, 53, 0.8);
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgba(9, 142, 165, 0.815);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.calculator form input{
    border: 1px solid white;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

.calculator form input:hover {
    background-color: rgba(9, 142, 165, 0.815);
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border-radius: 10px;
    padding-right: 10px;
}

form input.equal {
    width: 145px;
    border-radius: 10px;
}

form input.operator {
    color: #33ffd5;
}